@{
    ViewBag.Title = "Confirmation Email Sent";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        It appears your account has not yet been confirmed.
    </div>
    <br />
    <br />
    <div class="col-md-8">
       An email has been sent to @ViewBag.Email  Please check your Email Inbox. 
    </div>
</div>  