<div id="" class="reportDropdown filter-dropdown">
    <main class="filter-content">
        <div class="sort-container">
            <h5>Sort</h5>
            <ul>
                <li><span class='descending'></span><span>sort descending</span></li>
                <li><span class='ascending'></span><span>sort ascending</span></li>
            </ul>
        </div><!--end sort-container-->

        <div class="filter-container">
            <div class="search-box-container">
                <form action="">
                    <input class="search-box" type="search" placeholder="start typing to filter results" name="search-list">
                </form>
            </div>
            <div class="select-options">Select: <a class="select-all">All </a> | <a class="select-none">None</a></div>
        </div><!--end filter-container-->
        <div id="FilterOptions" class="filter-options">
            <div class="custom-checkbox"><input type="checkbox" id="c_1"><label id="f_1" for="filter-1">Manchester</label></div>
        </div><!--end filter-options-->
    </main>

</div>