################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YPSWebApp/.vs/YPSWebApp/v15/Server/sqlite3
