@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


    <p>For any technical queries please contact the support desk.</p>
    <strong>Support:</strong>   <a href="mailto:Support@yorkshirepayments.com">Support@yorkshirepayments.com</a><br />
    <h3>Add new user to system</h3>
<p>Please use the below link to register a new user on the system.</p>
    @Html.ActionLink("Register a new user", "Register", "Account")
  
