.account-user-profile-icon, .area-icon, .big-green-tick, .little-green-tick, .cloud-login-username, .username-icon, .position-icon, .register-icon, .remove-icon, .location-icon, .password-lock-icon, .wifi-icon, .wifi-not-connected-icon, .wifi-connected, .edit-icon, .help-tooltip-icon{
	background: url(../img/sprites/sprites.png) no-repeat;
}

.account-user-profile-icon{
	background-position: -2px -4px ;
	width: 44px;
	height: 44px;
}

.area-icon{
	background-position: -53px -11px ;
	width: 40px;
	height: 27px;
}

.big-green-tick{
	background-position: -709px -17px ;
	width: 78px;
	height: 65px;
}

.little-green-tick{
	background-position: -715px -163px ;
	width: 23px;
	height: 20px;
}

.cloud-login-username{
	background-position: -307px -16px ;
	width: 36px;
	height: 22px;
}

.username-icon{
	background-position: -267px -14px ;
	width: 14px;
	height: 26px;
}

.position-icon{
	background-position: -162px -13px ;
	width: 24px;
	height: 24px;
}

.register-icon{
	background-position: -13px -461px ;
	width: 28px;
	height: 22px;
}

.remove-icon{
	background-position: -66px -464px ;
	width: 19px;
	height: 19px;
}

.location-icon{
	background-position: -112px -10px ;
	width: 18px;
	height: 29px;
}

.password-lock-icon{
	background-position: -211px -9px ;
	width: 28px;
	height: 27px;
}

.wifi-icon{
	background-position: -356px -15px ;
	width: 35px;
	height: 23px;
}

.wifi-not-connected-icon{
	background-position: -418px -16px ;
	width: 16px;
	height: 20px;
}

.wifi-connected{
	background-position: -463px -13px ;
	width: 21px;
	height: 24px;
}

.edit-icon{
	background-position: -514px -14px ;
	width: 23px;
	height: 23px;
}

.help-tooltip-icon{
	background-position: -565px -15px ;
	width: 19px;
	height: 19px;
}

