<!--////////////RESPONSE TIMES////////////////-->
<div class="col-lg-12">
    <div class="report-summary-ranking">
        <header>
            <h3>Response Times</h3>
            <h4>Fixing critial errors</h4>
            <a class="expand-close-btn">
                <div class="expand-icon minus">
                    <div class="horizontal"></div>
                    <div class="vertical"></div>
                </div>
            </a>
        </header>
        <div class="ranking-content">
            <table class="common-simple-table mobile-responsive">
                <col width="50">
                <tr>
                    <th>Rank</th>
                    <th>System ID</th>
                    <th>System Name</th>
                    <th>Site Name</th>
                    <th>Location</th>
                    <th class="right">Response Time</th>
                </tr>
                <tr>
                    <td class="rank"><span>1</span></td>
                    <td>5854785</td>
                    <td>Live & Let Pie</td>
                    <td>George & Dragon</td>
                    <td>Stoke On Trent</td>
                    <td class="right"><strong>0</strong>h <strong>23</strong>m</td>
                </tr>
                <tr>
                    <td class="rank"><span>2</span></td>
                    <td>5854785</td>
                    <td>Live & Let Pie</td>
                    <td>Regal Moon</td>
                    <td>Stoke On Trent</td>
                    <td class="right"><strong>3</strong>h <strong>42</strong>m</td>
                </tr>
                <tr>
                    <td class="rank"><span>3</span></td>
                    <td>5854785</td>
                    <td>iPub 2</td>
                    <td>Regal Moon</td>
                    <td>Cleethorpes</td>
                    <td class="right"><strong>6</strong>h <strong>33</strong>m</td>
                </tr>
                <tr>
                    <td class="rank"><span>4</span></td>
                    <td>5854785</td>
                    <td>Live & Let Pie</td>
                    <td>Regal Moon</td>
                    <td>Stoke On Trent</td>
                    <td class="right"><strong>10</strong>h <strong>33</strong>m</td>
                </tr>
                <tr>
                    <td class="rank"><span>5</span></td>
                    <td>5854785</td>
                    <td>Live & Let Pie</td>
                    <td>Regal Moon</td>
                    <td>Willenhall</td>
                    <td class="right"><strong>48</strong>h <strong>33</strong>m</td>
                </tr>
            </table>

            <div class="summary-footer">
                <a href="/Report/ResponseTimes" class="subtle-light-btn inline">View full report</a>
            </div>
        </div><!--end ranking-content-->
    </div><!--end report-summary-ranking-->
</div><!--end col-->