<div class="tabs-container page-reload-tabs">
    <a href="Collector" class="tab"><p>Collectors</p></a>
    @*<a href="" class="tab"><p>Managers</p></a>
    <a href="" class="tab"><p>Admin</p></a>*@
</div>