@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="content">
    <h1 class="text-danger">Error</h1>
    <p class="text-danger">An error occurred while trying to load this page</p>
</section>

