<!---MOBILE HEADER-->

@{
    var user = SessionHelper.CurrentUserDetails ?? new YPMMS.Display.Website.Models.Account.CurrentUserDetailsModel() { Name = "Session has timed out", Email = "Please Login again" };
}

<header class="main-header">
    <a href="#" id="hamburger"> <span></span> </a>
    <!--<div class="gamestech-logo"><img src="~/Content/img/general/gamestech.png" width="190"></div>-->
    <div class="logo">
        @*<img src="~/Content/img/svg/livecollect-logo-inverted-red.svg">*@
        <img src="~/Content/img/general/scc-new-logo.png">
    </div>

    <div class="logout-link">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <p class="email">@user.Name <small>(@user.Email)</small></p>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <span class="fa alt fa-sign-out" aria-hidden="true"></span><p style="display: inline-block;">Logout</p>
            </a>
        }
    </div>
    
    <!--notifications icon for desktop, this just allows a different interaction for desktop and mobile-->
    <div data-popup="notifications-popup" class="notifications popupTrigger" id="notifications-for-desktop">
        <img width="36" src="~/Content/img/svg/bell-iconblack.svg" data-toggle="tooltip" data-placement="bottom" title="Notifications">
        <div class="notifications-amount header-unread-notifications-count" style="display: none">0</div>
    </div>

    <!--notifications for mobile-->
    <a href="/Admin/Index" class="notifications" id="notifications-for-mobile">
        <img width="36" src="~/Content/img/svg/bell-icon.svg">
        <div class="notifications-amount">1</div>
    </a>
</header>
<div class="sub-header hidden">
    <form method="get" action="/search" id="filter">
        <input id="search-filter" name="q" type="text" size="40" placeholder="Filter List..." data-role="none" />
        <input id="cancel-search" type="reset" value="Cancel" data-role="none">
    </form>
</div>

<!--DESKTOP HEADER-->


<!--NOTIFICATIONS POPUP-->

<section id="notifications-popup" class="popup-container">
    <div class="popup top">
        <header>Notifications<a href="@Url.Action("Index", "Admin")">View All</a></header>
        <div class="popup-content">
            <div class="notifications-list">
                <div class="notifications-content">
                    <ul id="header-system-events-list">

                        @***** START: template for event entry in the list *****@
                        <li id="template__header-system-event" class="system-event hidden">
                            <span class="system-event-type"></span>
                            <strong class="system-event-detail"></strong>
                            <small class="system-event-date"></small>
                        </li>
                        @***** END: template for event entry in the list *****@

                    </ul>
                </div>
            </div><!--end popup-content-->
        </div><!--end popup-content-->
    </div>
</section>
