@model YPMMS.Display.Website.Models.Machine.MachineDetailsViewModel

<table style="margin-top: 20px;" id="individual-system-information">
    <tr>
        <td>System Name:</td>
        <td class="system-name">@Model.Machine.Name</td>
    </tr>
    <tr>
        <td>Site Name:</td>
        <td>@Model.Machine.Site.Name</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Model.Machine.Site.FullAddress</td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>@Model.Machine.Site.Country</td>
    </tr>
</table>