<section id="add-new-merchant-page" class="content">
    <main class="container-fluid">
            <div class="col-lg-12">
                <h1>@ViewBag.Title</h1>
                <div class="setup-steps">
                    <div class="steps-graphics">
                        <div class="step-circle active">
                            <div class="step-text current">Merchant Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                        <div class="middle m-1"><span class="inner-fill"></span></div>

                        <div class="step-circle">
                            <div class="step-text">Seller Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                        <div class="middle m-1"><span class="inner-fill"></span></div>
                        <div class="step-circle">
                            <div class="step-text">Terminal Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                    </div>
                    <!--continue arrows-->
                    <div class="setup-arrows">
                        <div class="setup-arrows-inner">
                            <a class="next-btn pt-page-moveFromRight" id="continue-to-site-setup">Continue<img src="~/Content/img/general/continue-arrow.png" width="16" height="50" alt="" /></a>
                        </div>
                    </div>
                </div><!--end setup-steps-->

            </div><!--end col-->

        <div class="col-lg-12 pt-page-moveFromBottomFade" style="margin-top: 30px;">
            <p>You will need to enter some information to setup your new merchant</p>
            <p class="small-helper-text" style="margin-bottom:40px;">These details can be edited later and this information will be displayed in the merchant overview</p>


            <div class="input-vertical no-icon input--haruki hidden">
                <input class="input__field input__field--haruki" type="text" id="id-field" pattern="[0-9]+" title="required input" required />
                <label class="input__label input__label--haruki" for="id-field">
                    <span class="input__label-content input__label-content--haruki">Id </span>
                </label>
            </div>


            <div class="input-vertical no-icon input--haruki">
                <input class="input__field input__field--haruki" type="text" id="merchant-id-field" pattern="[0-9]+" title="required input" required />
                <label class="input__label input__label--haruki" for="merchant-id-field">
                    <span class="input__label-content input__label-content--haruki">Merchant Id </span>
                </label>

                <div class="success-icon little-green-tick"></div>
                <div class="error-message"></div>
                <div class="empty-message">This is a required field!</div>
            </div>


            <div class="input-vertical no-icon input--haruki">
                <input class="input__field input__field--haruki" type="text" id="merchant-name-field" maxlength="250" pattern="[a-zA-Z0-9 ]+" title="required input" required />
                <label class="input__label input__label--haruki" for="merchant-name-field">
                    <span class="input__label-content input__label-content--haruki">Merchant Name </span>
                </label>
                <div class="success-icon little-green-tick"></div>
                <div class="error-message"></div>
                <div class="empty-message">This is a required field!</div>
            </div>
            

            <div class="input-vertical no-icon input--haruki">
                <input type="date" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" class="datepicker input__field input__field--haruki" name="date" id="approved-date" value="" required />
                @*<input class="input__field input__field--haruki" type="text" id="merchant-name-field" maxlength="250" pattern="[a-zA-Z0-9 ]+" title="required input" required />*@
                <label class="input__label input__label--haruki" for="approved-date">
                    <span class="input__label-content input__label-content--haruki">Approved Date </span>
                </label>
                <div class="success-icon little-green-tick"></div>
                <div class="error-message">Please enter or select a valid date</div>
                <div class="empty-message">This is a required field!</div>
            </div>

            <div class="input-vertical no-icon input--haruki">
                <input type="date" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" class="datepicker input__field input__field--haruki" name="date" id="welcome-call-date" value="" required />
                @*<input class="input__field input__field--haruki" type="text" id="merchant-name-field" maxlength="250" pattern="[a-zA-Z0-9 ]+" title="required input" required />*@
                <label class="input__label input__label--haruki" for="welcome-call-date">
                    <span class="input__label-content input__label-content--haruki">Welcome Call Date </span>
                </label>
                <div class="success-icon little-green-tick"></div>
                <div class="error-message"></div>
                <div class="empty-message">This is a required field!</div>
            </div>

            <div class="input-vertical no-icon input--haruki">
                <input type="date" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" class="datepicker input__field input__field--haruki" name="date" id="approx-live-date" value="" required />
                @*<input class="input__field input__field--haruki" type="text" id="merchant-name-field" maxlength="250" pattern="[a-zA-Z0-9 ]+" title="required input" required />*@
                <label class="input__label input__label--haruki" for="approx-live-date">
                    <span class="input__label-content input__label-content--haruki">Approx Live Date </span>
                </label>
                <div class="success-icon little-green-tick"></div>
                <div class="error-message"></div>
                <div class="empty-message">This is a required field!</div>
            </div>

            
           
        </div>
                                           
                       

                    @*
                <!--dropdown-->
                <select required class="dropdown-style" style="margin:0;">
                    <option value="">--Device Type (optional)--</option>
                    <option value="AF">Gaming</option>
                    <option value="AX">Tebs</option>
                    <option value="AX">Vending</option>
                    <option value="AX">Other</option>
                </select>
                    *@

</main><!--end container-->
</section><!--end of content-->

