<section id="add-new-seller-page" class="content hidden">
    <main class="container-fluid">   
                <h1>@ViewBag.Title</h1>
                <div class="setup-steps">
                    <div class="steps-graphics">
                        <div class="step-circle">
                            <div class="step-text">System Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                        <div class="middle m-1"><span class="inner-fill"></span></div>

                        <div class="step-circle active">
                            <div class="step-text current">Seller Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                        <div class="middle m-1"><span class="inner-fill"></span></div>
                        <div class="step-circle">
                            <div class="step-text">Terminal Details</div>
                            <div class="inner-circle-active"></div>
                        </div>
                    </div>
                    <!--continue arrows-->
                    <div class="setup-arrows">
                        <div class="setup-arrows-inner">
                            <a class="next-btn pt-page-moveFromRight" id="continue-to-terminal-selection">Continue<img src="~/Content/img/general/continue-arrow.png" width="16" height="50" alt="" /></a>
                            <a class="previous-btn" id="back-to-merchant-details"><img src="~/Content/img/general/back-arrow.png" width="16" height="50" alt="" />Previous</a>
                        </div>
                    </div><!--end setup-steps-->

                </div><!--end col-->

                <div class="col-lg-12 pt-page-moveFromBottomFade" style="margin-top: 30px;">
                    <p>You will need to enter some information to setup your new merchant</p>
                    <p class="small-helper-text" style="margin-bottom:40px;">These details can be edited later and this information will be displayed in the merchant overview</p>
                    <label for="sellerDropDown">Seller</label>                    
                        <div class="input-vertical no-icon input--haruki">
                            <select id="sellerDropDown" required class="dropdown-style" style="margin:0;">
                                <option value="0">--Seller--</option>
                            </select>
                            <div class="success-icon little-green-tick"></div>
                            <div class="error-message"></div>
                            <div class="empty-message">This is a required field!</div>
                        </div>

                    </div><!--end row-->
    </main><!--end container-->
</section><!--end of content-->