<div class="currencies-display" id="refill-mode-currencies">

    <!-- Coins -->
    <div class="currency-column coins">
        <div class="group top">
            <div class="heading">Coin Amount Due</div>
            <div class="total">£0.00</div>
        </div>

        @***** START: Template for an individual denomination refill display *****@
        <div id="template__refill-denom" class="group refill-denom hidden">
            <div class="denom-value">£0.00</div>
            <div class="float-variance">0</div>
        </div>
        @***** END: Template for an individual denomination refill display *****@

    </div>

    <!-- Bills -->
    <div class="currency-column bills">
        <div class="group top">
            <div class="heading">Bill Amount Due</div>
            <div class="total">£0.00</div>
        </div>
    </div>
</div>
