
@{
    ViewBag.Title = "Collector";
}

<section class="content">
    <main class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("~/Views/Shared/AdminUsersTabs.cshtml")
            </div>

            <div class="col-lg-12 pt-page-moveFromRightFade">
                <h1>Collectors</h1>
                <div class="system-management-menu">
                    <ul>
                        <li><a href="Collector/Add"><img src="~/Content/img/general/hi-res/add-icons@2x.png">Add New Collector</a></li>
                    </ul>

                    <ul>
                        <li class="disabled"><a><img src="~/Content/img/general/hi-res/list-icon-circle@2x.png">Assign collectors to sites</a></li>
                    </ul>
                </div><!--end system-management-menu-->



            </div><!--end row-->

            <hr>

            <div class="row">

                <div class="col-lg-12 hidden"><h3>Collectors List</h3>You currently have no collectors setup. Click on <strong>Add New collector</strong>to add new users</div>
                <!--if there are no systems then hide the bottom col-lg and take the hidden class off the above col-lg-->
                <div class="col-lg-12 pt-page-moveFromRightFade">
                    <section>
                        <h3>Collectors List</h3>

                        <div class="search-box-container">
                            <form action="">
                                <input class="search-box" type="search" placeholder="start typing to filter results" name="search-list">
                            </form>
                        </div>

                        <div class="clearfix"></div>
                    </section>

                    <table class="long-list-non-selectable-table mobile-responsive-big tablesorter" id="collectors-table-list">
                        <thead>
                            <tr>
                                <th class="sortable">Collector Name / ID</th>
                                <th class="sortable">Email / Address</th>
                                <th class="sortable">Contact number</th>
                                <th class="moo">Actions</th>
                                <th class="sortable">Status</th>
                                <th>Disable iButton</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a>Joe collector</a><br><span>5484548</span></td>
                                <td><span>joe@mail.com</span><br><span>23 derker street, oldham, OL1 DEQ</span></td>
                                <td>077235556669</td>
                                <td>
                                    <a class="little-rounded-action-button edit hvr-outline-out2"></a>
                                    <a class="little-rounded-action-button delete hvr-outline-out2 modalTrigger" data-modal="dialog-delete-collector"></a>
                                </td>
                                <td><span class="status pending">awaiting confirmation</span></td>
                                <td>
                                    <label class="toggle-style no-text-small">
                                        <input type="checkbox" id="" class="checkbox-style" />
                                        <span class="toggle-text"></span>
                                        <span class="toggle-handle"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><a>Joe collector</a><br><span>5484548</span></td>
                                <td><span>joe@mail.com</span><br><span>23 derker street, oldham, OL1 DEQ</span></td>
                                <td>077235556669</td>
                                <td>
                                    <a class="little-rounded-action-button edit hvr-outline-out2"></a>
                                    <a class="little-rounded-action-button delete hvr-outline-out2 modalTrigger" data-modal="dialog-delete-collector"></a>
                                </td>
                                <td><span class="status expired">Invitation expired</span><a class="test small-resend-button moo">Resend</a></td>
                                <td>
                                    <label class="toggle-style no-text-small">
                                        <input type="checkbox" id="" class="checkbox-style" />
                                        <span class="toggle-text"></span>
                                        <span class="toggle-handle"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><a>Joe collector</a><br><span>5484548</span></td>
                                <td><span>joe@mail.com</span><br><span>23 derker street, oldham, OL1 DEQ</span></td>
                                <td>077235556669</td>
                                <td>
                                    <a class="little-rounded-action-button edit hvr-outline-out2"></a>
                                    <a class="little-rounded-action-button delete hvr-outline-out2 modalTrigger" data-modal="dialog-delete-collector"></a>
                                </td>
                                <td><span class="status locked">iButton Disabled</span></td>
                                <td>
                                    <label class="toggle-style no-text-small">
                                        <input type="checkbox" id="" class="checkbox-style" />
                                        <span class="toggle-text"></span>
                                        <span class="toggle-handle"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><a>Joe collector</a><br><span>5484548</span></td>
                                <td><span>joe@mail.com</span><br><span>23 derker street, oldham, OL1 DEQ</span></td>
                                <td>541875541554</td>
                                <td>
                                    <a class="little-rounded-action-button edit hvr-outline-out2"></a>
                                    <a class="little-rounded-action-button delete hvr-outline-out2 modalTrigger" data-modal="dialog-delete-collector"></a>
                                </td>
                                <td><span class="status active">active</span></td>
                                <td>
                                    <label class="toggle-style no-text-small">
                                        <input type="checkbox" id="" class="checkbox-style" />
                                        <span class="toggle-text"></span>
                                        <span class="toggle-handle"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><a>Baby Collector</a><br><span>5484548</span></td>
                                <td><span>joe@mail.com</span><br><span>23 derker street, oldham, OL1 DEQ</span></td>
                                <td>077235556669</td>
                                <td>
                                    <a class="little-rounded-action-button edit hvr-outline-out2"></a>
                                    <a class="little-rounded-action-button delete hvr-outline-out2 modalTrigger" data-modal="dialog-delete-collector"></a>
                                </td>
                                <td><span class="status active">active</span></td>
                                <td>
                                    <label class="toggle-style no-text-small">
                                        <input type="checkbox" id="" class="checkbox-style" />
                                        <span class="toggle-text"></span>
                                        <span class="toggle-handle"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>

                    </table>




                </div>
            </div><!--end row-->

    </main><!--end container-->

    <div class="alert-confirmation" id=""><!--to make active add the class .active-->
        <div class="icon"></div>
        <a class="close-alert"></a>
        <p>An invitation has been send to the collector</p>
    </div>

    <div class="overlay">
        <!--always remember to wrap this code in an overlay div in the source code where this is being included-->
        <!--new dialog-->
        <section style="max-width: 600px" class="dialog" id="dialog-adding-collector-error">
            <header>
                <a class="close-dialog"><span class="circle"></span><span class="close-cross"></span></a>
                <h1>Collector profile could not be created</h1><!--options: centered-->
            </header>
            <div class="scrollable-content">
                <main class="dialog-content">
                    <p><strong>Oops, something went wrong!</strong></p>
                    <p>The collector profile could not be created. Please try again</p>



                </main>
            </div>
            <!--
            <footer>
                <a class="subtle-light-btn cancel-btn">OK</a>
            </footer>
            -->
        </section>

        <!--always remember to wrap this code in an overlay div in the source code where this is being included-->
        <!--always remember to wrap this code in an overlay div in the source code where this is being included-->
        <!--new dialog-->
        <section style="max-width: 600px" class="dialog" id="dialog-delete-collector">
            <header>
                <a class="close-dialog"><span class="circle"></span><span class="close-cross"></span></a>
                <h1>Delete Collector</h1><!--options: centered-->
            </header>
            <div class="scrollable-content">
                <main class="dialog-content">
                    <p>Are you sure you want to delete the following collector:</p>
                    <p><strong>collector name here</strong></p>

                    <p class="small-helper-text">Don't forget to assign a new collector to any sites that may be left with no collector assigned after this collector profile is deleted</p>



                </main>
            </div>
            <footer>
                <a class="rounded-btn">Delete Collector</a>
                <a class="subtle-light-btn cancel-btn">Cancel</a>
            </footer>
        </section>

        <!--always remember to wrap this code in an overlay div in the source code where this is being included-->
    </div>

</section><!--end of content-->

