@model YPMMS.Display.Website.Models.Account.CurrentUserDetailsModel

@{
    ViewBag.Title = "Admin Dashboard";
}

<section class="content">
    <main class="container-fluid">

        <div class="row">
            <div class="col-lg-6 pt-page-moveFromRightFade">
                <h1>Admin Dashboard</h1>
                <div class="user-info">
                    <h3>@Model.Name</h3>
                    <p class="user-role">Admin</p>
                </div>

                <div class="notifications-list" id="notifications-list-dashboard">
                    <header>
                        <h1>Recent Notifications</h1>
                    </header>
                    <div class="notifications-content">
                        <ul id="system-events-list">

                            @***** START: template for event entry in the list *****@
                            <li id="template__system-event" class="system-event hidden">
                                <span class="system-event-type"></span>
                                <strong class="system-event-detail"></strong>
                                <small class="system-event-date"></small>
                            </li>
                            @***** END: template for event entry in the list *****@

                        </ul>
                        <div class="show-more-notifications">
                            <a id="show-more-btn" class="subtle-light-btn">Show more...</a>
                        </div>

                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </main><!--end container-->
</section><!--end of content-->

@section Scripts{
    @Scripts.Render("~/bundles/js/ViewsAdminIndex")
    <script>
        $(document).ready(function() {
            AdminIndex.initialise();
        });
    </script>
}