@{
    ViewBag.Title = "Merchant Management";
}
@model IEnumerable <YPMMS.Shared.Core.Models.Merchant>

<section class="content">
    <main class="container-fluid">

        <div class="row">
            <div class="col-lg-12 pt-page-moveFromRightFade">
                <h1>Merchant Management</h1>
                <div class="system-management-menu">
                    <ul>
                        <li><a href="@Url.Action("AddMerchant")"><img src="~/Content/img/general/hi-res/add-icons@2x.png">Add New Merchant</a></li>
                    </ul>
                    <ul>

                    
                    </ul>
                </div><!--end system-management-menu-->
            </div>
        </div><!--end row-->

        <hr>

        <div class="row">

            <div class="col-lg-12 hidden"><h3>Merchant List</h3>You currently have no merchants setup. Click on <strong>Add New Merchant</strong> to start the setup of a new merchant</div>
            <!--if there are no systems then hide the bottom col-lg and take the hidden class off the above col-lg-->
            <div class="col-lg-12 pt-page-moveFromRightFade">
                <section class="system-management-list-options">
                    <h3>Merchant List</h3>   
                    <div class="search-box-container">
                        <input class="search-box" type="search" placeholder="Start typing to filter results" name="search-list" value="">
                    </div>

                    @*<a id="delete-systems-btn" class="system-list-action-button modalTrigger disabled" data-modal="dialog-remove-machines"><img src="~/Content/img/general/delete-icon-no-circle.png"><span>Remove Machines</span></a>*@
                    @*<div class="select-options">Select: <a class="select-all">All </a> | <a class="select-none">None</a></div>*@
                    <div class="clearfix"></div>
                </section>



                <table id="merchant-list-table" class="common-simple-table mobile-responsive-big">
                    <tr>

                        <th>Merchant Name</th>
                        <th>Merchant Id</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Last Updated By</th>
                        <th>Last Updated On</th>
                        <th>Seller</th>
                        <th>Acquiring Bank</th>
                        <th></th>

                    </tr>

                    @***** START: Template for the collector row *****@
                    <tr id="template__merchant-details" class="hidden-mobile-titles merchant-summary-row">

                        <td class="merchant-name"><strong></strong></td>
                        <td class="merchant-id"></td>
                        <td class="created-by"></td>
                        <td class="created-on"><a></a></td>
                        <td class="last-updated-by"></td>
                        <td class="last-updated-on"></td>
                        <td class="seller"></td>
                        <td class="acquiring-bank"></td>
                        <td class="edit-merchant"><span class="edit-system-btn"><a href="#">Edit</a></span></td>
                    </tr>
                    @***** END: Template for the collector row *****@

                </table>


                
                    <div id="admin-full-merchant-list" class="selectable-list-style1">
                            <ul id="merchant-list">                       
                      
                                <li id="template__merchant-details" class="merchant-details hidden">
                                    <span class="edit-system-btn">Edit</span>
                                    <div class="select">
                                        <div class="column merchant-id"></div>
                                        <div class="column merchant-name"></div>
                               
                                    </div>
                                </li>
                       

                            </ul>
                        </div>
            </div>
        </div><!--end row-->
    </main><!--end container-->

    <!--start dialogs-->

    <!--dialog-->
    <div class="overlay">

        <!--new dialog-->
        <section style="max-width: 600px" class="dialog" id="dialog-remove-machines">
            <header>
                <a class="close-dialog"><span class="circle"></span><span class="close-cross"></span></a>
                <h1>Remove Machines</h1><!--options: centered-->
            </header>
            <div class="scrollable-content">
                <main class="dialog-content">
                    <h3 class="hidden">Multiple Machines Selected</h3>
                    <p>
                        Are you sure you want to permanently delete the selected machines? You will lose any reports or
                        history relating to these machines.
                    </p>
                    <hr>
                    <p><strong>Please confirm your account password to delete the machine(s)</strong></p>


                    <div class="input-container">
                        <div class="input input--haruki">
                            <input class="input__field input__field--haruki" type="password" id="login-password" name="login-password" maxlength="30" required />
                            <label class="input__label input__label--haruki" for="login-password">
                                <span class="field-icon-container">
                                    <span class="field-icon password-lock-icon"></span>
                                </span>
                                <span class="input__label-content input__label-content--haruki">Password</span>
                            </label>
                            <div class="success-icon little-green-tick"></div>
                            <div class="error-message">Password is incorrect</div>
                            <div class="empty-message">This is a required field!</div>
                            <div class="caps-lock-alert">Caps Lock is on!<span class="pointer"></span><span class="pointer-border"></span></div>
                        </div>
                    </div>


                </main>
            </div>
            <footer>
                <a id="delete-systems-dialog-btn" class="rounded-btn">Delete Machine(s)</a>
                <a class="subtle-light-btn cancel-btn">Cancel</a>
            </footer>
        </section>

    </div>


    <!--end dialogs-->

</section><!--end of content-->

@section Scripts {

    @Scripts.Render("~/bundles/js/ViewsAdminMerchantManagement")
    <script>
        $(document)
            .ready(function() {
                AdminMerchantManagement.initialise();
                
            });
    </script>

}