
@{
    ViewBag.Title = "Profile";
}

<section class="content">
    <main class="container-fluid">
        <div class="breadcrumb">
            <a href="" class="home-button"></a>
            <a href="">Admin</a>
            <span>•</span>
            <a>Users - Collectors</a>
            <span>•</span>
            <p>Collector Profile</p>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <h1>Collector Profile</h1>
                <a><img style="margin-right: 10px;" src="~/Content/img/general/edit-icon.png">edit</a>
                <table style="margin-top: 20px;" class="individual-system-information">
                    <tr>
                        <td>Username:</td>
                        <td class="system-name">Joeyboy87</td>
                    </tr>
                    <tr>
                        <td>Collector Name:</td>
                        <td>Joey Smith Jr.</td>
                    </tr>
                    <tr>
                        <td>Collector ID:</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>iButton ID:</td>
                        <td>48785498965689895</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>joe@mail.com</td>
                    </tr>
                    <tr>
                        <td>Base Address:</td>
                        <td>Derker street, Oldham, OL1 4EQ</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>United Kingdom</td>
                    </tr>
                </table>

                <h3>Disable iButton</h3>
                <p>When turned on, this will prevent the iButton from accessing any machines</p>
                <label class="toggle-style no-text-small">
                    <input type="checkbox" id="" class="checkbox-style" />
                    <span class="toggle-text"></span>
                    <span class="toggle-handle"></span>
                </label>

                <div class="vertical-buttons">
                    <div><a class="medium-btn">Reset Password</a></div>
                    <div><a class="medium-btn">Manage Assigned Sites</a></div>
                    <div><a class="rounded-btn">Remove Collector</a></div>
                </div>

            </div><!--end col-->

            <div class="col-lg-5">
                <div class="tapered-shadow-custom"><div class="cover-up"></div></div>
                <div id="map-container">
                    <div id="collector-map" class="has-parallax"></div>
                </div>
            </div><!--end col-->

        </div><!--end row-->

        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="all-systems-status">
                    <div class="status-icons system-offline-icon"><div></div><p>Offline:<span> 0</span></p></div>
                    <div class="status-icons system-full-icon active"><div></div><p>Full:<span> 1</span></p></div>
                    <div class="status-icons system-error-icon"><div></div><p>Errors:<span> 0</span></p></div>
                    <div class="status-icons system-update-icon"><div></div><p>Updates:<span> 0</span></p></div>
                </div>
                <div class="all-systems-mini-reports">
                    <div class="mini-cash-report">
                        <p>Total number of collections</p>
                        <p class="value">18</p>
                    </div>
                    <div class="mini-cash-report">
                        <p>Total <strong>overall</strong> collectable cash</p>
                        <p class="value">£ 2000.00</p>
                    </div>
                    <div class="mini-cash-report">
                        <p>Total <strong>overall</strong> cash collected today</p>
                        <p class="value">£ 1250.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="systems-container">

                    @***** START: Template for the machine UI sections *****@
                    <section id="template__machine" class="machine hidden">
                        <h1 class="machine-country-title"></h1>
                        <p class="machine-category-title"></p>

                        <div class="machine-inner">
                            <!-- Last Update -->
                            <h1><a></a></h1>
                            <div class="last-update">
                                <h3>Last Update</h3>
                                <span class="date"></span>
                                <span class="time"></span>
                            </div>
                            <!-- Status disc -->
                            <div class="machine-circle">
                                <span class="status"></span>
                                <div class="total-value">
                                    <span class="collectable-value"></span>
                                </div>
                            </div>
                            <!-- Last Collection -->
                            <div class="last-collection">
                                <h3>Last Collection</h3>
                                <span class="date"></span><span class="time"></span>
                                <div class="collection-amount">
                                    <span class="currency"></span>
                                    <span class="collected-value"></span>
                                </div>
                            </div>
                        </div>
                    </section>
                    @***** END: Template for the machine UI sections *****@
                </div>
            </div>
        </div><!--end row-->
    </main>

</section>