
@{
    ViewBag.Title = "Machine Performance";
}

<section class="content">
    <main class="container-fluid">

        <div class="breadcrumb">
            <a href="/Overview" class="home-button"></a>
            <a href="/Report">Reports</a>
            <span>•</span>
            <p>Machine Performance Rankings</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1>Machine Performance</h1>
                <h3>Total System Income</h3>
                <p>
                    This is a list of machines and their TOTAL Income made within the time period.
                    This is currently set to the last 30 days but you can change this using the date range picker below:
                </p>
            </div>
        </div><!--end row-->

        <div class="row" style="margin-top:20px;">
            <div class="col-lg-12 pt-page-moveFromRightFade">
                <section>

                    <div id="reportrange" class="pull-left">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                    <div class="clearfix"></div>

                    <div class="search-box-container">
                        <form action="">
                            <input class="search-box" type="search" placeholder="start typing to filter results" name="search-list">
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </section>

                <table class="long-list-non-selectable-table mobile-responsive-big tablesorter" id="machine-performance-reports-table">
                    <col width="30">
                    <thead>
                        <tr>
                            <th class="sortable headerSortDown">Rank</th>
                            <th class="sortable">System Name</th>
                            <th class="sortable">System ID</th>
                            <th class="sortable">Site Name</th>
                            <th class="sortable">Location</th>
                            <th class="align-right sortable">Total Income</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td><a>Deal or No deal 100NP</a></td>
                            <td>22</td>
                            <td>White Lion</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>22350.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td><a>Pacman 100NP</a></td>
                            <td>45</td>
                            <td>Dog & Duck</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>20145.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td><a>Shooting Stars 100NP</a></td>
                            <td>3</td>
                            <td>The blinding cockeral</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>18054.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td><a>Boulder Bash 100NP</a></td>
                            <td>79</td>
                            <td>The Pig & Whistle</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>14568.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td><a>Chicken Run 100NP</a></td>
                            <td>108</td>
                            <td>The Cow and Snuffers</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>10059.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td><a>Daddy Chicken 100NP</a></td>
                            <td>58</td>
                            <td>Drunken Duck</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>789.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><a>Daddy Chicken 100NP</a></td>
                            <td>58</td>
                            <td>Nobody Inn</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>234.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td><a>Deal or No deal 100NP</a></td>
                            <td>22</td>
                            <td>White Lion</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>214.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td><a>Pacman 100NP</a></td>
                            <td>45</td>
                            <td>Dog & Duck</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>205.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td><a>Shooting Stars 100NP</a></td>
                            <td>3</td>
                            <td>The blinding cockeral</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>180.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td><a>Boulder Bash 100NP</a></td>
                            <td>79</td>
                            <td>The Pig & Whistle</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>179.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>12</td>
                            <td><a>Chicken Run 100NP</a></td>
                            <td>108</td>
                            <td>The Cow and Snuffers</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>175.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>

                        <tr>
                            <td>13</td>
                            <td><a>Daddy Chicken 100NP</a></td>
                            <td>58</td>
                            <td>Drunken Duck</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>120.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td><a>Daddy Chicken 100NP</a></td>
                            <td>58</td>
                            <td>Nobody Inn</td>
                            <td>Manchester</td>
                            <td class="align-right"><small>£ </small><strong>100.00</strong></td>
                            <td class="align-right">
                                <div class="custom-checkbox add-to-compare"><input type="checkbox" id="filter-1"><label for="filter-1">Add to compare list</label></div>
                            </td>
                        </tr>




                    </tbody>

                </table>




            </div>
        </div><!--end row-->
        <!--///////////////START OTHER REPORTS////////////////////////-->


    </main><!--end container-->


</section><!--end of content-->

@section Scripts {
    <script src="~/Content/js/pages/reports-root.js"></script>
}